/* small device*/
@media screen and (max-width:576px){
    html{
       font-size: 14px;
    }
    .nav-logo{
        font-size: 2 rem;
    }
    .nav-items{
        width: auto;
        border: none;
        margin-right: 0;
      
    }
    nav{
        margin-bottom: 3.5rem;
    }
    .list{
        display: none;
        
    }
    .bar{
        display: block;
       margin-bottom: 1rem;
    }
    .bar i{
        font-size: 2rem;

    }
    .banner-section{
       
        flex-direction: column;
    }
    .banner-details{
        width: 100%;
    }
    .banner-title{
        width: 80%;
    }
    .banner-btn{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .join-btn, .download-btn{
        width: 48%;
    }
    .banner-details h1{
        font-size: 3.3rem;
    }
    .banner-img{
        width: 100%;
    }
    .tag-2{
        left: 0rem;
        bottom: 10rem;

    }
    .tag-2 button>i{
        display: block;
    }

    /*main*/
    .habit-section{
        padding-top: 0.2rem;
    }
    .habit-detail{
        width: 100%;
    }
    .gym-classes{
        flex-direction: column;
    
    }
    .run-section{
        flex-direction: column;
    }
    .parts{
        width: 72%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    
    .run-detail{
        width: 100%;
        padding: 2rem;
    }
    .run-detail button{
        width: 100%;
    }
    .run-img{
        width: 83%;
        height: 12.14rem;
        margin: 0 auto 2rem;

    }
    .team-member{
        height: auto;
        grid-template-columns: repeat(1,1fr);
        gap:0;
    }
    .team{
        height: 18rem;
        margin-bottom: 1rem;
    }
    .team-detail{
        width: 92%;
    }
    .last-team{
        margin-bottom: 0rem;
    }
    .first-team{
        margin-top: 0.3rem;
    }
    .team img{
        height: 95%;
        width: 99%;
    }
    
    
    
    
}

/*large device*/
@media screen and (min-width:993px) and (max-width:1500px)
{

    .join-btn{
        margin-bottom: 1.5rem;
        
    }
  
}
@media screen and (min-width:1500.01px){
  html{
    font-size: 20px;
  }
    
}