    /* small device*/

@media screen and (max-width:576px){
   html{
       font-size: 3vw;
    }
    
        /*navbar*/
    .nav-logo{
        font-size: 2.8rem;
    }
    .nav-items{
        width: auto;
        border: none;
        margin-right: 0;
      
    }
    nav{
        padding: 5.5rem 0;
    }
    .list{
        display: none;
        
    }
    .bar{
        display: block;
       margin-bottom: 1rem;
    }
    .bar i{
        font-size: 2rem;

    }
       
       /*banner section*/
    .banner-section{
       
        flex-direction: column;
      
    }
    .banner-details{
        width: 100%;
       
    }
    .shape{
        font-size: 5rem;
    }
    .banner-title{
        width: 80%;
    }
    .banner-btn{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .join-btn, .download-btn{
        width: 48%;
        padding: 1rem 2rem;
       
    }
    .join-btn a, .download-btn a{
         
        font-size: 1.2rem;

    }
    .banner-details h1{
        font-size: 3.3rem;
    }
    .banner-img{
        width: 100%;
        padding-top: 4rem;
    }
    .tag-1{
        
        top: 7rem;
        right: 3.7%;
    }
    .tag-2{
        left: 0rem;
        bottom: 20.5rem;

    }
    .tag-2 button>i{
        display: block;
    }

    /*main*/

        /*habit section*/
    .habit-section{
        padding-top: 0.2rem;
    }
    .habit-detail{
        width: 100%;
    }
    .gym-classes{
        flex-direction: column;
    
    }
    .parts{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 0;
    }
    .parts p{
        margin-bottom: 1rem;
    }
     .parts .last{
        margin-bottom: 3rem;
    }
    .gym-img{
        width: 13rem;
        height: 13rem;
    }
    

       /*run section*/
    .run-section{
        flex-direction: column;
        
    }
    
    
    .run-detail{
        width: 100%;
        padding: 2rem;
    }
    .run-detail button,.form{
        width: 100%;
    }
    .run-btn{
        padding: 0.89rem;
        
    }
    .run-btn a{
        font-size: 1.2rem;

    }
    .run-img{
        width: 83%;
        height: 12.14rem;
        margin: 0 auto 2rem;
 
    } 

         /*bmi section*/
    .bmi-content,.classes-example{
        flex-direction: column;
    }
    .bmi-heading{
        width: 85%;
        margin-left: 2.3rem;
        padding-bottom: 2.6rem;
    }
    .table{
        width: 88%;
        margin-bottom: 3.5rem;
    }
    .bmi-btn{
        width: 60%;
        padding: 1rem;
        
    }
    .bmi-btn a{
        font-size: 1.2rem;

    }


       /*team section*/
    .team-member{
       
        height: auto;
        grid-template-areas:
         "first-m  first-m   first-m"
         " se-m    se-m      se-m"
         "trd-m    trd-m     trd-m"
         "last-m   last-m    last-m" ;
        gap:0;
    }
    .team{
        height: 20rem;
        margin-bottom: 1rem;
    }
    .team-detail{
        width: 92%;
    }
    .last-team{
        margin-bottom: 0rem;
    }
    .first-team{
        margin-top: 0.3rem;
    }
    .team img{
        height: 95%;
        width: 99%;
    }
    .name h3{
        font-size: 1.5rem;
    }
    .will{
        display: none;
    }
    .name-two{
        display: block;
    }
    .first-team, .fth-team{
        display: none;
    }
    .s-team{
        grid-area: first-m;
        margin-top: 0.5rem;
        
    }
    .fith-team{
        grid-area: se-m;
    }
    .trd-team{
        grid-area: trd-m;

    }
    .last-team{
        grid-area:last-m ;
    }

     

     /*classes*/
        .colum-1,.colum-2{
            width: 100%;
        }
        .testimonial-heading{
            width: 85%;
        }
        .testimonial-parts{
            flex-direction: column;
        }
        .review{
            height: 29rem;
        }
        .last-one, .last-two{
            margin-bottom: 3rem;
        }
        .review-btn{
            width: 70%;
        }
        .testimonial-btn{
            padding-top: 0;
        }
    /* footer*/
    .footer-section{
        flex-direction: column;
        padding: 4rem 0 2rem;
    }
    .fitness{
        width: 90%;
        margin-bottom: 1.4rem;
    }
    .get-start{
        width: 50%;
        margin-bottom: 1.2rem;
    }
    .copy-right p{
    
        font-size: 1.2rem;
        letter-spacing: 1px;
       
     }
     
     
    
    
    
    
}

    /*large device*/
@media screen and (min-width:993px) and (max-width:1500px)
{

    .join-btn{
        margin-bottom: 1.5rem;
        
    }
  
}
 