/* small device*/
@media screen and (max-width:576px){
    html{
       font-size: 14px;
    }
    .nav-logo{
        font-size: 2.7rem;
    }
    .nav-items{
        width: auto;
        border: none;
        margin-right: 0;
      
    }
    nav{
        margin-bottom: 3.5rem;
    }
    .list{
        display: none;
        
    }
    .bar{
        display: block;
       margin-bottom: 1rem;
    }
    .bar i{
        font-size: 2rem;

    }
    .banner-section{
       
        flex-direction: column;
    }
    .banner-details{
        width: 100%;
    }
    .banner-title{
        width: 80%;
    }
    .banner-details h1{
        font-size: 3.3rem;
    }
    .banner-img{
        width: 100%;
    }
    .tag-2{
        left: 0rem;
        bottom: 18rem;

    }
    .tag-2 button>i{
        display: block;
    }

    /*main*/
    .habit-section{
        padding-top: 0.2rem;
    }
    .habit-detail{
        width: 100%;
    }
    .gym-classes{
        flex-direction: column;
    
    }
    .run-section{
        flex-direction: column;
    }
    .parts{
        width: 72%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
    
    .run-detail{
        width: 96%;
        padding: 2rem auto;
    }
    .run-detail button{
        width: 97%;
    }
    .run-img{
        width: 86%;
        height: 12.14rem;
        margin: 0 auto 2rem;

    }

    
    
}

/*large device*/
@media screen and (min-width:993px) and (max-width:1500px)
{

    .join-btn{
        margin-bottom: 1.5rem;
        
    }
  
}
@media screen and (min-width:1500.01px){
  html{
    font-size: 20px;
  }
    
}