@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sharing part*/
.position{
    width: 85%;
    margin: 0 auto;

}
.flex{
    display: flex;
}
.description{
    font-size: 0.89rem ;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5rem;
}
.btn{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: white;
    background-color: rgb(230, 83, 60);
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 2rem;
   
}
.title{
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
    color: white;
}
.sub-title{
  
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 120%;

}
a{
    text-decoration: none;
}

/* header*/
header{
    width: 100%;
    background: linear-gradient(00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgba(0, 0, 0, 0.85);
    
}

/* navbar start*/
nav{
    
    padding: 3.5rem 0 1.5rem;
    justify-content: space-between;
    align-items: center;
   
   
}
.nav-logo{
    color: rgb(230, 83, 60);
    line-height: 120%;
}
.nav-items{
    width: 45%;
    justify-content: space-between;
    align-items: center;
    border: 0.3px solid rgba(255, 255, 255, 0.142);
    border-radius: 3rem;
    margin-right: 2rem;
}
.About{
    padding-right: 0.8rem;

}


.nav-items li{
    list-style: none;
}

nav  li> a{
    font-size:1rem ;
    font-weight: 500;
    color: white;

}
.bar{
    display: none;
}

/* navbar ends*/

/*banner section starts*/
.banner-section{
    justify-content: space-between;
    height: auto;
   
  
}

.banner-img{
    width: 40%;
    height: auto;
    position: relative;
}
.banner-img img{
    width: 100%;
}
.banner-details{
    width: 40%;
    height: 60%;
    height: auto;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}
.banner-details h1{
    font-size: 4.4rem;
    font-weight: 800;
    color: white;
    margin-bottom: 1.75rem;
    line-height: 120%;

}
.banner-details p{
    margin-bottom: 1.75rem;
}
.shape{
    font-weight: 100;
    font-family: "Dancing Script", cursive;
  
    
    
}
.download-btn{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    padding: 0.7rem 2rem;
    background-color: transparent;
    border: 0.7px solid white;
    border-radius: 2rem;
    margin-left: 0.7rem;

}
.tag-1{
    width: 11.8rem;
    height: 6.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9.5rem;
    right: -0.3rem;
}
.tag-2{
    width: 11.8rem;
    height: 5.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    align-items: left;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5.3rem;
    left: -4.7rem;
}
.tag-2-detail h3{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}
.tag-2 button>i{
    display: none;
}


/*banner section ends*/

